@import "primer-tooltips/index.scss";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400;1,600;1,800&display=swap');

html, body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #333;
}

input, select, textarea {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

textarea{
    min-height: 50px;
    max-height: 150px;

    &::-webkit-scrollbar {
        width: 10px;
        background: none;
    }

    &::-webkit-resizer {
        border-radius: 100px;
        background: #e0e0e0;
    }

    &::-webkit-scrollbar-corner {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background: #d0d0d0;
        border-radius: 100px;
    }
}

body {
    margin: 0;
    background: rgba(83,82,237,1);
    background: linear-gradient(45deg, rgba(255,71,87,1) 0%, rgba(83,82,237,1) 100%);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.icon {
    height: 20px;
    width: 20px;

    &.icon-2x {
        height: 40px;
        width: 40px;
    }
}

.spinner.animate {
    animation: spin 1s linear infinite;

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/*#5352ed*/
/*#ff4757*/